li
{
	list-style-type: none;
	width: 200px;
	height: 40px;
	margin: 1px;
	cursor: default;
}
.liHover
{
	color: #6fbffc;
	cursor: "default";
}
.liSelect
{
	background-color: #58b6fe;
	color: white;
	cursor: "default";
}
a
{
	float: right;
	margin-right: 20px;
	margin-top: 8px;
}
ul
{
	float: right;
}
#menu
{
	position: absolute;
	height: 100%;
	width: 200px;
	float: left;
	vertical-align: top;
	background-color: #f2f2f2;
	border-right-style: solid;
	border-right-color: #dcddde;
	border-right-width: 1px;
}
#surfaceHolder
{
	position: absolute;
	left: 220px;
	top: 75px;
}

#tooltip
{
	position: absolute;
    text-align: center;
    z-index: 20000;
	background-color: #ffffff;
	border: 1px #d6d4d4 solid;
	height: Auto;
	width: Auto;
}
.collapsed
{
	display: none;
}
#headerPart
{
	height: 50px;
	position: relative;
	border-bottom-style: solid;
	border-bottom-color: #2c94d4;
	border-bottom-width: 3px;
	background-color: #fcfcfc;
	vertical-align: top;
}

#headerText
{
	color: #58b6fe;
	margin-left: 55px;
	margin-top: 10px;
    font-size: 30px;
	font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif"; 
}

label
{
	font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif"; 
}
#content-top
{
	margin: 6px 10px 0px 10px; 
	font-size: smaller";
}

#content
{
	margin: 0px 10px 6px 10px;
}

.tooltip-header
{
	font-weight: 600; font-size: 12px;
}

#posXLabel
{
	margin-right: 5px; 
	font-size: 12px";
}

#posYLabel
{
	font-size: 12px";
}